


/experiments/pipeline_abstraction_experiments/tmp/
/experiments/pipeline_abstraction_experiments/**/*.tsv
/experiments/pipeline_abstraction_experiments/**/*.pickle

/experiments/meta_kaggle_code_analysis/**/*.csv

kg_governor/data_profiling/temp_spark/
kg_governor/data_global_schema_builder/utils/glove_embeddings/*
!kg_governor/data_global_schema_builder/utils/glove_embeddings/README.md


/storage/


.idea/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

wandb/

errors.csv


kg_governor/pipeline_abstraction/data/

kg_governor/pipeline_abstraction/kaggle_small/

kg_governor/pipeline_abstraction/kglids_graphs_for_kgpip_training_datasets_full/

experiments/data_discovery_experiments/plots/
