allennlp==2.0.1
allennlp-models==2.0.1
bitarray==1.6.3
bitstring==3.1.9
camelsplit==1.0.1
datasketch==1.5.3
h5py==3.1.0
matplotlib==3.3.4
nltk==3.5
Pillow==8.4.0
py==1.10.0
py-rouge==1.1
py4j==0.10.9
pyspark==3.0.1
pytest==6.2.2
PyYAML==5.4.1
rdflib==5.0.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.5.4
spacy==2.3.7
SPARQLWrapper==1.8.5
torch==1.7.1
tqdm==4.56.0
transformers==4.2.2
astor==0.8.1
graphviz==0.17
numpy==1.21.4
pandas==1.3.4
six==1.16.0
staticfg==0.9.5
urllib3==1.26.7
seaborn~=0.11.2
dask~=2022.2.1